body {
  background-color: black;
  font-family: "Coiny", cursive;
}

div {
  border: 2px solid;
  border-radius: 20px;
  padding: 5px;
}

.character {
  width: 20%;
  flex-basis: auto;
  flex-grow: 0;
}
.character__name {
  height: 20px;
}
.character__picture {
  object-fit: cover;
  object-position: top;
  height: 100%;
}
.character__card {
  justify-content: center;
  width: 200px;
  background-color: rgba(251, 255, 0, 0.76);
  color: #fff;
  text-align: center;
  li {
    text-align: initial;
  }
}

.header {
  border: 5px solid red;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  ul {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    list-style: none;
  }
  a {
    padding-left: 80px;
    padding-left: 80px;
    text-decoration: none;
  }
}

.footer {
  border: 5px solid red;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  a {
    justify-content: space-around;
  }
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  .container {
    max-width: max-content;
  }
}
