body {
  background-color: black;
  font-family: "Coiny", cursive;
}

div {
  border: 2px solid;
  border-radius: 20px;
  padding: 5px;
}

.characters-list {
  padding: 50px;
  margin: 0px;
  padding-top: 0px;
  flex-wrap: nowrap;
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
}
.character {
  width: 20%;
  flex-basis: auto;
  flex-grow: 0;
}
.character__name {
  height: 20px;
}
.character__picture {
  object-fit: cover;
  object-position: top;
  height: 100%;
}
.character__card {
  position: relative;
  border: none;
  background-color: red;
  color: #fff;
  box-shadow: 2px 2px 5px;
}

.character:nth-child(even) .character__overlay {
  top: 100%;
}

.header {
  border: 5px solid red;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  ul {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    list-style: none;
  }
  a {
    padding-left: 80px;
    padding-left: 80px;
    text-decoration: none;
  }
}

.footer {
  border: 5px solid red;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  a {
    justify-content: space-around;
  }
}
